body {
  min-height: 100vh;
  background-color: black;
}

.navigation {
  position: fixed;
  top: 20px;
  left: 20px;
  bottom: 20px;
  background-color: #4d5bf9;
  box-sizing: initial;
  width: 300px;
  border-radius: 10px;
  border-left: 5px solid #4d5bf9;
}
